body {
  margin: 0;
  padding: 0;
}

.tab-horizonbar {
  background-color: rgb(49, 129, 219);
  height: 6vh;
}

.tab-verizon {
  position: fixed;
  background-color: rgb(49, 129, 219);
  height: 100vh;
}

.page-display {
  margin-left: 150px;
}

.cursorpoint{
  color: white !important;
}

.cursorpoint:hover {
  color: rgb(255, 0, 0) !important;
  cursor: pointer;
}

.active {
  color: rgb(255, 0, 0) !important;
}

.cursorheader{
  color: white;
}

.cursorheader:hover{
  background-color: rgb(25, 90, 163);
  cursor: pointer;
}

.header-active{
  background-color: rgb(25, 90, 163);
}